html, body, div, h1, p,a,img,ol, ul, li,
form,tr, th, td,footer,header,nav{
        margin: 0;
        padding: 0;  
       
}
.container{
		width: 924px;
		/*border:1px solid black;*/
		margin: auto;
		/*text-align: left;*/
		/*background-color:lightblue;*/
		background-color: rgb(244,245,246);
}

#logo{
	margin-top: 11px;
	margin-left: 21px;
	float: left;
}
#header{
	height: 100px;
}
#headerPara{
	text-align: center;
	/*margin-left: 62px;*/
	/*margin-top: 42px;*/
}
.clearSpace{
        clear: both;
}
#p1{
	float:left;
}
#navLeft{
	width: 600px;

}
#navLeft  ul strong li{
	display: inline;
	list-style:none;
	font:150px;
}
#navLeft  ul strong li a{
	color: white;
	font:150px;
	/*padding-bottom: 15px;*/
	vertical-align: center;
	margin-top: -30px;
	padding-left: 10px;
	padding-right: 10px;
}
#navLeft  ul strong li img{
	margin-top: 8px;

}
#headerstrip{
	height:50px;
	background-color: rgb(51,85,170);
}
#navs{
	width: 924px;
	margin: auto;
	height:40px;
}
#searchDiv{
	height: 20px;
	float:right;
	width:230px;
	margin-top: -30px;
	margin-bottom: 150px;
	/*margin-right: 150px;*/
}
#searchBox{
	/*float: right;*/
	border-radius: 3px;
}
#searchBtn{
	float: right;
	border-radius: 3px;
}
#navs{
	/*display: inline;*/
	/*padding-bottom: 10px;*/
}
button {
        background: rgb(63, 102, 200);
        border: 1px solid black;
        border-radius: 5px;
        padding-top: 5px;
        padding-top: 5px;
        margin-top: 4px;
}
input {
        background: rgb(37,69,149);
        border: 1px solid black;
        border-radius: 5px;
        padding-top: 5px;
        margin-top: 4px;
}
#nav{
	/*padding-bottom: 10px;*/
}
#body img{
	margin-top: 32px;
}

#middleDiv {
        float: left;
        width: 220px;
        margin-left: 60px;
        margin-top: 0px;
}
.paraText {
        font-size: 13px;
        color: #666666;
        font-family: georgia;
        text-align: justify;
}
.titleText {
        font-size: 16px;
        color: #666666;
        font-family: nevis;
}
.titleText2 {
        font-size: 16px;
        color: #3355aa;
        font-family: nevis;
}
#manImg{
	float: left;
}
.leftDiv > img {
        display: block;
}
#middleDiv img{
margin-top: 15px;
margin-bottom: 20px;
}
.rightDiv {
        float: left;
        width: 220px;
        margin-left: 30px;
        margin-top: 20px;
}
.textAnnounce {
        font-size: 13px;
        color: #222222;
        font-family: georgia;
        font-style: italic;
}

.textBy {
        font-family: georgia;
        font-size: 10px;
        color: #888888;
}

.separator {
        color: #f0f0f0;
        height: 3px;
}

.noUnderline {
        text-decoration: none;
        color: #3355aa;
        font-family: georgia;
        font-size: 13px;
        text-align: center; 
}