/* reset css*/
html, body, div, h1, p,a,img,center,ol, ul, li,
form,tr, th, td,footer,header,nav{
	margin: 0;
	padding: 0;	
}

h1{
    color: green;
}

#logo{ 
	border-bottom:1px solid black;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	/*background-color: olive;*/
}
#container{
	width: 940px;
	border:1px solid black;
	margin: auto;
	text-align: left;
	background-color: lightblue;
}
#elements{
  float:left;
  width: 110px;
  margin: 10px;
  /*border-right:1px solid black;*/
}
#elements ul{
 list-style: none;
}

img{
	float:left;
	width:100px;
	margin-left: 10px;
	margin-top: 20px;

}
#imageAndText{
	/*margin-left: 10px;*/
	float: right;
	width: 760px;
	padding: 10px;
	border-left: 1px solid;
}
#text{
	/*margin-top: 10px;*/
	
	
	
	margin-left: 10px;
}
#text p{
	margin-left: 10px;
}
#footer{
	margin-bottom: 30px;
	border-top: 1px solid black;
}

	
#footerPara{
	font-size: 80%;
	color: gray;
	float:left;
}
#footer ul{
	float:right;
	width:235px;
}
#footer ul li{
	display: inline;

}

.clearSpace{
	clear: both;
}

.content{
	float: left;
	/*border-bottom: 1px solid black;*/
}
#applyBottom{
	
	border-bottom: 1px solid black;
}
#nav {
	
	/*display: inline;
	margin-top: 20px;
	margin-bottom: 20px;*/

}

#nav  {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;	
		
}

#nav li{
		display: inline-block;
		
}
#nav  li a{
	padding: 10px;
	color: blue;
}

#nav  li a:hover{
	background-color:#FF1493 ;
	box-shadow: 0px 1px 1px #666;
}
#nav  li a:active{
 background-color: #ff8f00; 
}
#form{
	margin-left: "30"
}