*,h1,h2,h2,h4,h5,h6{
	margin: 0px;
	padding: 0px;
}

@font-face{
	font-family:'robotoBold';
	src: url('../fonts/roboto_bold/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('../fonts/roboto_bold/roboto-bold-webfont.woff') format('woff'), 
	     url('../fonts/roboto_bold/roboto-bold-webfont.ttf')  format('truetype'), 
	     url('../fonts/roboto_bold/roboto-bold-webfont.svg#svgFontName') format('svg'); 
}
@font-face{
	font-family:'robotoMedium';
	src: url('../fonts/roboto_medium/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('../fonts/roboto_medium/roboto-medium-webfont.woff') format('woff'), 
	     url('../fonts/roboto_medium/roboto-medium-webfont.ttf')  format('truetype'), 
	     url('../fonts/roboto_medium/roboto-medium-webfont.svg#svgFontName') format('svg'); 
}
.container{
	width:940px;
	margin: 0 auto;
	overflow:hidden;
}
#wrapper{
	margin: 0 auto;
}
li{
	display: inline;
	list-style: none;
}
a{
	text-decoration: none;
}
.clear{
	clear:both;
}
.clearLeft{
	/*clear: left;*/
}
/* header */
#header{
	background-color: #ffffff;
}
#header > div > a{
	display: block;
	width: 140px;
	height: 38px;
	background: url("../images/Langmart_logo.png");
	float: left;
	margin: 12px 0px 10px 0px;
	
}
.nav{
	float: right;
}
.nav ul{
	margin: 21px 8px 0px 0px;
	float: left;
}
.nav ul li:first-child{
	margin: 0px 42px 0px 0px;
	color: #444444;
}
.nav ul li:first-child a{
	background: url("../images/Langmart_home.png");
	background:top-left;
    background-repeat: no-repeat;
}
.nav ul li{
	margin: 0px 45px 0px 0px;		
	font-family: "robotoBold";
}
.nav ul li a{
	background: url("../images/how_it_works.png");
	background:top-left;
    background-repeat: no-repeat;
    padding: 0px 0px 0px 25px;
    color: #666666;
    font: 14px;
	line-height: 24px;

}
.nav ul li:last-child a{
	background: url("../images/plans_and_pricing.png");
	background:top-left;
    background-repeat: no-repeat;
}
.nav input{
	margin: 14px 0px 0px 0px;
	float: left;
	height: 30px;
	width:80px;
	border: 1px black solid;
	border-radius: 3px;
	background-color: #474747;
	color: #ffffff;	
	font: 14px;
	line-height: 24px;
	font-family: "robotoBold";
	box-shadow: 1px 0px 3px;
	-moz-box-shadow:    inset 2 0 0px #474747;
   	-webkit-box-shadow: inset 2 0 0px #474747;
   	box-shadow:         inset 2 0 0px #474747;
}

/* end header*/
/* Body */
.bodyFirstDiv{
   background-color: #eeeeee;
   text-align: center;
}
.bodyFirstDiv > div >img{
	margin: 260px 0px 0px 0px;
}
.bodyFirstDiv div h2{
	font-size: 24px;
	line-height: 32px;
	color: #666666;
	font-family: "robotoMedium";
}
.bodyFirstDiv div h1{
	font-size: 30px;
	line-height: 32px;
	color: #444444;
	font-family: "robotoMedium";
	margin: 0px 0px 23px 0px;
}
.signupAsDiv{
	font: 14px;
	line-height: 24px;
	color: #3f3f3f;
	font-family: "robotoBold";
	line-height: 35px;
	width: 120px;
	text-align: center;
	/*margin: auto;*/
	background-color: #f7f7f7;
	border-radius: 15px;
	margin: 0px 0px 30px 410px;
}
.signup_buttons{
	width: 561px;
	height: 50px;
	/*margin: auto;*/
	margin: 0px 0px 35px 190px;
}
.signup_buttons div{
	color: #666666;	
	font: 20px;
	
	font-family: "robotoBold";
	width: 25px;
	line-height: 50px;
	margin: 0px 18px 0px 0px;
	float: left;
}
.signup_buttons input{
	width: 250px;
	height: 50px;
	background-color: #bc3922;
	color: #ffffff;	
	font: 16px;
	line-height: 24px;
	font-family: "robotoBold";
	border-radius: 5px;
	float: left;
	
}
.signup_buttons input:first-child{
	margin: 0px 18px 0px 0px;
}
				/* icons */
.icons{
	background-color: #444444;
	padding:0px 0px 37px 0px;
}

.icons ul:first-child{
	background-color: #444444;
	
}
.icons ul:first-child li:first-child{
	display: inline-block;
	margin: 35px 80px 27px 35px;
	width: 150px;
	/*height: 150px;*/
}
.icons ul:first-child li{
	display: inline-block;
	margin: 35px 80px 27px 0px;
	width: 150px;
	/*height: 150px;*/
}
.icons ul:first-child li:last-child{
	display: inline-block;
	margin: 35px 35px 27px 0px;
	width: 150px;
	/*height: 150px;*/
}
.icons ul{
	margin-bottom:10px;
}
.icons ul li:first-child{
	margin: 0px 110px 0px 75px;
}
.icons ul li{
	display: inline;
	margin: 0px 85px 0px 0px;
}
#certapay{
	margin: 0px 103px 0px 0px;
}
.icons ul li:last-child{
	margin: 0px 30px 0px 0px;
}

.icons ul li h3{
	width: 200px;
	display: inline;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	font-family: "robotoMedium";
	
}
.description{
	
	background-color: #444444;
}
.icons ul li h4{

	width: 200px;
	font-size: 12px;
	line-height: 18px;
	color: #bbbbbb;
	font-family: helvetica;
	
}

.icons ul:last-child li{
	border-top: 1px solid black;
	padding-top: 15px;
	margin: 0px 39px 0px 0px;
	display: inline;
	float: left;
}
.icons ul:last-child li:first-child{
	margin: 0px 39px 0px 10px;
}
.icons ul:last-child li:last-child{
	margin: 0px 10px 0px 0px;
}
.icons ul li h5{
	margin-top: 16px;
	color: #ffffff;
	font-size: 12px;
	line-height: 18px;
	font-family: helvetica;
}
/* map*/
#map{
	background-color: #ffffff;
	padding: 0px 0px 18px 0px;
}
#map div {
	/*background-color: #ffffff;*/
}
.world_map img{
	float: left;
	margin: 0px 50px 0px 0px;
}
.providers ul{
	margin: 0px 0px 0px 50px;
	background-color: #ffffff;
	float: left;
	width: 196px;
}
.providers ul li{
	float: left;
	width: 196px;
	/*height: 43px;*/
	margin: 0px 0px 16px 0px;
}
.providers ul li img{
	float: left;
	margin: 0px 14px 0px 0px;
	/*display: block;*/
}
.providers ul li h4{
	font-size: 13px;
	line-height: 18px;
	color: #222222;
	font-family: helvetica;
}
.providers ul li h5{
	font-size: 11px;
	line-height: 18px;
	color: #888888;
	font-family: helvetica;
}
.world_map {
	width: 350px;
}
.world_map h2{
	
	margin: 0px 0px 0px 7px;
	text-align: left;
	font-size: 21px;
	line-height: 38px;
	color: #444444;
	font-family: "robotoMedium";
}
.providers h3{
	font-size: 18px;
	line-height: 25px;
	color: #dd4422;
	font-family: "robotoMedium";
	text-align: center;
	margin: 0px 0px 15px 0px;
}
.setBackGround{
	background-color: #f7f7f7;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

#map div:first-child{
	margin-bottom: 20px;
}
/* testimonials*/
.leftDiv {
	float: left;
	margin-right: 29px;
}

.rightDiv{
	float: left;
}
.row {
	float: left;
	width: 920px;
	margin:0px 0px 32px 0px;
	
}
.row > div {
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

	background-color: #fff;
	width: 404px;
	height: 75px;
	border: solid 1px #d6d6d6;
	padding: 18px;
}
.row > div img {
	float: left;
	margin-right: 16px;
}
.row span {
	font: 14px "Myriad Pro", "robotoMedium";
	color: #d54102;
}

.testimonials {
	background-color: #ddd;
	padding: 43px 0px 37px;
}
.testimonials div h2{
	font: 24px "robotoMedium";
	line-height: 40px;
	color: #444444;
	margin-bottom: 19px;
	text-align: center;
	margin:0px 0px 32px 0px;
}
.row > div > div {
	float: left;
	width: 314px;
}

.row > div > div > div {
	font: 16px helvetica, "robotoBold";
	line-height: 18px;
	color: #222222;
	margin-top: 10px;
	margin-bottom: 11px;
}

.row p {
	color: #888888;
	font: 12px "Myriad Pro", "robotoMedium";
	line-height: 18px;
}
/*      footer 		*/
#footer {
	background-color: #353535;
	padding-top: 17px;
}

#footer a {
	margin-right: 8px;
	color: #d9d9d9;
	font: 12px "Myriad Pro";
	line-height: 16px;
}

#footer ul {
	display:table; 
	margin:0 auto;
	margin-bottom: 4px;
}

#footer li {
	display: inline;
	color: #d9d9d9;
	font: 12px "Myriad Pro";
	line-height: 16px;
	margin-left: 8px;
}


#copyright {
	
	font: 12px "Myriad Pro";
	line-height: 16px;
	color: #888888;
	display:table; 
	margin:0 auto;
	margin-bottom: 16px;
}
