*{
	margin: 0px;
	padding: 0px;
}
.clear{
	clear: both;
}
.container {
	width: 940px;
	margin: auto;
}
#wrapper{
	background-color: #ffffff;
	margin: 0 auto;
}
@font-face {
	font-family: 'robotoLight';
	src: url('../fonts/roboto_light/Roboto-Light-webfont.eot');
	src: url('../fonts/roboto_light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto_light/Roboto-Light-webfont.woff') format('woff'),
	url('../fonts/roboto_light/Roboto-Light-webfont.ttf') format('truetype'),
	url('../fonts/roboto_light/Roboto-Light-webfont.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotoThin';
	src: url('../fonts/roboto_thin/Roboto-Thin-webfont.eot');
	src: url('../fonts/roboto_thin/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto_thin/Roboto-Thin-webfont.woff') format('woff'),
	url('../fonts/roboto_thin/Roboto-Thin-webfont.ttf') format('truetype'),
	url('../fonts/roboto_thin/oboto-Thin-webfont.svg#robotothin') format('svg');
	font-weight: normal;
	font-style: normal;
}

#header{
	padding: 57px 0px 18px 0px;
	margin: 0px 0px 12px 0px;
	border-bottom: 1px solid #dddddd;
	/*display: block;*/
	height: 30px;
	/*margin: 0 auto;*/
}

#header div h1 {
	display: inline;
	float:left;
	font: 37px "robotoLight";
	line-height: 37px;
	color: black;
}
#header div ul{
	display: inline;
	float: right;
}
#header div ul li{
	display: inline;
	margin:0px 35px 0px 0px;
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
	color: black;
}
li{
	list-style: none;
	display: inline;
}
#header div ul li a{
	font: 15px "robotoLight";
	line-height: 18px;
	color: #1a4da2;
}
#header div ul li a:hover{
	color: black;
	
}
#header div ul li input{
	width: 154px;
	height: 14px;
	background: url('../images/search.png') left 7px center no-repeat;
	padding: 8px;
	/*margin-left: 22px;*/
	-webkit-border-radius:3px; 
	-moz-border-radius: 3px; 
  	border-radius: 3px;
  	text-indent: 22px;
  	border:1px solid #e1e1e1;
}


/*top div*/
.topDiv ul:first-child{
	margin: 0px 0px 50px 0px;
}
.topDiv ul:first-child li{
	background: url('../images/breadcrumbs_seperator.png') no-repeat right;
	margin: 0px 10px 0px 0px;
	padding: 0px 8px 0px 0px;
}
.topdiv ul:first-child li a{
 	font-size: 11px;
 	line-height: 17px;
 	font-family: tahoma;
 	color: #1a4da2;
}
.topdiv ul:first-child li a:hover{
	color: #333333;
	font-weight: bold;
}
.topDiv ul:first-child li:last-child{
	background-image: none;
}

.topDiv ul:last-child li:last-child{
	/*width: 32px;
	height: 70px;*/
	background-color: #ffffff;
	-webkit-border-radius:4px; 
	-moz-border-radius: 4px; 
  	border-radius: 4px;
  	border:1px solid #dddddd;
  	padding: 5px 8px 5px 8px;
}
.topDiv ul:last-child li:last-child a{
	color: #d54405;
	font: 15px "robotolight";
	line-height: 17px;
	text-align: center;

}
.topDiv{
	height: 135px;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 38px;
}
.topDiv div{
	float: left;
	width: 202px;
	height: 53px;

}
.topDiv div h2{
	float: right;
	font: 36px "robotoThin";
	line-height: 53px;
	color: #d54405;
}
.destinationImage{
	height: 53px;
	width: 53px;
	margin-right: 14px;
	float: left;
	display: block;
}
.destinationMenu{
	float: right;
}
.destinationMenu li{
	margin: 0px 35px 0px 0px;
}
.destinationMenu li a{
	font: 15px "robotoLight";
	color: #1a4da2;
	line-height: 53px;
}
.destinationMenu li a:hover{
	color: black;

}
.InformationDiv ul li{
	width: 225px;
	/*height: 52px;*/
	display: block;
	margin:0 auto;
	padding: 0px 0px 16px 14px;
	margin: 0px 0px 13px 0px;
	border-bottom: 1px solid #dddddd;
}
.InformationDiv ul li:last-child{
	padding: 0px 0px 30px 14px;
}
.InformationDiv ul li a{
	display: block;
	width: 200px;
	height: 40px;
	background-repeat: no-repeat;
}
.InformationDiv ul li a h3{
	font: 15px "robotoLight";
	line-height:20px;
	color: #1a4da2;
	margin: 0px 0px 0px 35px;
}
.InformationDiv ul li a h4{
	font: 12px "robotoLight";
	line-height:20px;
	color: #878787;
	margin: 0px 0px 0px 35px;
}
.how_to_reach{
	background: url('../images/how_to_reach.png') left;
}
.where_to_stay{
	background: url('../images/where_to_stay.png') left;
}
.getting_around{
	background: url('../images/getting_around.png') left;
}
.holiday_packages{
	background: url('../images/holiday_packages.png') left;
}
.imp_info{
	background: url('../images/imp_info.png') left;
}
.travel_checklist{
	background: url('../images/travel_checklist.png') left;
}

