#logo{ 
	border-bottom:1px solid black;
}

#elements{
  float:left;
  border-right:1px solid black;
}
#tiger_img{
 float:left;
}
img{
	
	margin-left: 20px
}
#text{
	margin-top: 20px;
	margin-left: 20px;
}
#text p{
	margin-left: 100px;
}
#footer{
	border-bottom: 1px solid black;
}

	
#footer p{
	font-size: 80%;
	color: gray;
	float:left;
}
#footer ul{
	float:right;
}
#footer ul li{
	display: inline

}
.clear_div{
	clear: both;
	border-bottom: 1px solid black;
}
.clear_space{
	clear: both;
}
h1{
    color: green;
}
.content{
	float: left;
	
}
#apply_bottom{
	border-bottom: 1px solid black;
}
#nav {
	width: 60%;
	height: 90%;
	display: inline;
}

#nav ul li{
		display: inline-block;
		
}
#nav ul li a{
	padding: 10px;
	color: blue;
}

#nav ul li a:hover{
	background-color:#FF1493 ;
	box-shadow: 0px 1px 1px #666;
}
#nav ul li a:active{ background-color: #ff8f00; }
