html, body, div, h1, p,a,img,ol,ul, li,
form,tr, th, td,footer,header,nav,h3{
        margin: 0;
        padding: 0;        
}

#header{
	margin:0px 0px 35px 0px;
}
#header div:first-child{
 	margin-bottom: 13px;
}
#header > div >  a{
	display: block;
	width: 239px;
	height:57px;
	/*float: left;*/
	background:url("../images/microsave_logo.png");
	margin: 10px 0px 0px 21px;
}
.container{
	width:940px;
	margin: 0 auto;
	overflow:hidden;
}
#wrapper{
	background-color: #f4f5f6;
	margin: 0 auto;
}
.navigation{
	background-color: #3355aa;
	height: 40px;

}
.navigation div ul{
	float: left;
}
.navigation div ul li{
	list-style: none;
	display: inline;
	background: url("../images/saperator.png");
	background:top-left;
    background-repeat: no-repeat;

}

.navigation div ul li a{
	text-decoration: none;
	padding: 10px 9px 11px 17px;
	color: #ffffff;
	
	font-family: georgia;
	font-style: italic;
	font-size: 15px;
	line-height:36px;
}
.navigation div ul li a:hover{
	color:gray;
}
.navigation > div > div{
	float: right;

	margin: 0px;
}
.navigation > div > div >input {
	width: 150px;
	border-radius: 2px;
	border:1px solid #284389;
	margin: 5px 0px 5px 0px;
	padding: 5px 10px 5px 10px;
	float: left;
	background: #214193;
	font-family: georgia;
	font-size: 14px;
	font-style: italic;
	color: #ffffff;	
}

.navigation > div > div > button{
	border-radius: 2px;
	height: 30px;
	width: 40px;	
	float: left;
	margin: 5px 0px 5px 10px;

	background-color: #446ac9;
	border:1px #284389;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ffffff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ffffff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ffffff;
}

.clear{
	clear: both;
}

/*middle body*/
.middleBodyTop{
	margin-bottom: 77px;
}
.middleBodyTop > div > div >h3{
	font-size: 16px;
	line-height: 36px;
	/*text-decoration: all;*/
	font-family: nevis;
	font-weight: bold;
	color: #666666;
	border-bottom: 3px solid #eebe00;
	margin: 0px 0px 19px 0px;
}

.middleBodyTop > div > div{
	width: 220px;
	float: left;
	margin: 13px 20px 0px 0px;
}
.middleDiv p{
	width:219px;
	font-size: 13px;
	line-height: 20px;
	font-family: georgia;
	color: #666666;
	/*text-align: center;*/
	margin:0px 0px 18px 0px;
}

.middleBodyTop > div > div:first-child{
	width:420px;
	height: 340px;
	margin:0px 60px 0px 0px;
	float:left;
	box-shadow: 1px 0px 3px #888888;
	border-radius: 3px;
	
}
.middleBodyTop > div > div:last-child{
	margin-right: 0px;
}
.textAnnounce {
    font-size: 13px;
    line-height: 18px;
    color: #222222;
    font-family: georgia;
    font-style: italic;
    margin:0px 0px 10px 0px;
}
.textAnnounce a{
	color: #222222;
	text-decoration: none;
}
.textAnnounce a:hover{
	color: blue;
}

.textBy{
	font-size: 10px;
	line-height:16px ;
	font-family: georgia;
    color: #888888;
    padding-bottom:13px; 
    margin:0px 0px 0px 0px;
    border-bottom: 1px solid #f3f3f4;
}

.textBy a{
	text-decoration: none;
	font-family: georgia;
    font-size: 10px;
    font-style: none;
    color: #333333;
}
.textBy a:hover{
	color: blue;
}
.textByLast {
	padding-bottom: 13px; 
	margin-bottom: 10px;
	font-family: georgia;
    font-size: 10px;
    color: #888888;
    border-bottom: 1px solid #f3f3f4;
}
.textByLast a{
	text-decoration: none;
	font-family: georgia;
    font-size: 10px;
    font-style: none;
    color: #000;
    color: #333333;
}
.textByLast a:hover{
	color: blue;
}
.rightDiv > a{
	font-style: italic;
	text-decoration: none;
}

.imgMainHeading{
	margin-bottom: 18px;
}

.imgMainHeading div {
	font-size: 28px;
   	line-height: 36px;   
    font-family: nevis;
    font-weight: bold;   
    color: #444444;   
    text-align: center;
}

.middleBodyBottom{
	height: 280px;
	margin-bottom: 40px;

}
.middleBodyBottom div ul{
	height: 280px;

}
.smallImages{
        box-shadow: 0px 0px 3px #888888;
        background-color: #ffffff;
        padding: 5px;
        margin-right: 16px;
		float: left;  
		border-radius: 3px;     
}
.kidsLi{
	box-shadow: 0px 0px 3px #888888;
    background-color: #ffffff;
    padding: 5px;
    float: left;
    border-radius: 3px;
}
.middleBodyBottom div ul li div:first-child{
	font-family: georgia;
	font-size: 13px;
    color: #3355aa;
    text-align: center;
    padding:14px 0px 14px 0px;
}
li{
	display: inline;
	list-style: none;
}
/*********************footer ****************************/
#footer{
	height: 110px;
	background:url("../images/footer_pattern.jpg");
	background-repeat: repeat;
}
	/* footer top */
.footerTop{
	height: 48px;
	border-bottom: 1px solid black;
	box-shadow: 0px 1px 0px #888888;
	-moz-box-shadow:0 1px 0px #888888;
	margin:17px 0px 15px 0px;

}

.footerTop ul:first-child{
	font-size: 14px;
	line-height:auto;
	font-family: georgia;
	float: left;
}
.footerTop ul:last-child{
	font-size: 11px;
	line-height:auto;
	font-family: georgia;
	float: right;	
}

.footerTop ul li{
	display: inline;
    padding-right: 10px;
    padding-left: 10px;
    background: url("../images/saperator_two.png");
    background: top-right;
    background-repeat: no-repeat;
}
.footerTop ul:first-child li:first-child{
	display: inline;
    padding:0px 10px 0px 0px;
    background:none;
}
.footerTop ul:last-child li:first-child{
	display: inline;
    background:none;
}
.footerTop ul:last-child li:last-child{
	display: inline;
    padding-right: 0px;
}

.footerTop ul li a{
	color: #aaaaaa;
	text-decoration: none;
}

.footerTop ul li a:hover{
	color: #ffffff;
}

	/* footer bottom */
.footerBottom div:first-child{
	font-size: 11px;
	font-family:  georgia;
	color: #888888;
}
.footerBottom div:last-child ul{
	float: left;
}
.footerBottom div:last-child ul li:first-child a{
 	background: url("../images/facebook_logo.png");
}
.footerBottom div:last-child ul li a{
	float: left;
	height: 15px;
	width: 15px;
	background: url("../images/twitter_logo.png");
	margin-right: 5px;
}
.footerBottom div:last-child ul li:last-child a{
	background: url("../images/linkedin_logo.png");
}

.footerBottom div{
	float: left;
	font-size: 11px;
	font-family:  georgia;
	color: #888888;
}
.footerBottom div:last-child{
	float: right;
}
.footerBottom div:last-child div{
	float: left;
	margin-right: 14px;
}
